NODE_ENV=development
PORT=3000
SESSION_SECRET=change-this-before-hosting
DB_PATH=./data/washraum.sqlite
HOUSE_CODE=GBMZ Maneggplatz 18
WHATSAPP_TEST_TO=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
